In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df =

##### 1. head()

##### 2. tail()

##### 3. shape

##### 4. size

##### 5. columns

##### 6. Use heat-map to show null values count in seaborn.

##### 7. For 'House of Cards', what is the Show Id and who is the director of this show?

##### a. isin()

##### b. str.contains()

##### 8. In which year highest number of the TV shows & Movies were released? Show with Bar Graph.

##### a. dtypes

##### b. to_datetime()

##### c. dt.year.value_counts()

##### 9. How many Movies & TV shows are in the dataset? Show with Bar Graph.

##### a. groupby()

##### b. countplot()

##### 10. Show all the Movies that were released in year 2000.

##### a. Create new column

##### b. Filter

##### 11. Show only the Titles of all TV shows that were released in Turkey only.

#####  12. Show Top 10 directors, who gave the highest number of TV Shows & Movies to Netflix?

##### 13. Show all the records, where 'Category is Movie and Type is Comedies' or 'Country is United Kindgom'.

##### 14. In how many movies / shows, Tom Cruise was cast?

##### 15. What are the different Ratings defined by Netflix?

##### a. nunique()

##### b. unique()

##### 16. How many movies got the 'TV-14' rating, in Canada?

##### 17. How many TV shows got the 'R' rating, after year 2018?

##### 18. What is the maximum duration of a movie / show on Netflix?

##### a. str.split()

##### b. max()

##### 19. Which individual country has the highest number of TV Shows?

##### 20. How can we sort the dataset by Year?

##### 21. Find all the instances where: 
Category is 'Movie' and Type is 'Dramas' or Category is 'TV Show' and Type is 'Kids TV'