In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("netflix_data.csv")

##### 1. head()

In [3]:
df.head()

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,07:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",PG-13,123 min,Dramas,A brilliant group of students become card-coun...

##### 2. tail()

In [4]:
df.tail()

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
7784,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7785,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7786,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7787,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7788,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

##### 3. shape

In [5]:
df.shape

(7789, 11)

##### 4. size

In [6]:
df.size

85679

##### 5. columns

In [7]:
df.columns

Index(['Show_Id', 'Category', 'Title', 'Director', 'Cast', 'Country',
       'Release_Date', 'Rating', 'Duration', 'Type', 'Description'],
      dtype='object')

##### 6. Check and drop duplicate rows

In [13]:
df.duplicated().value_counts()

False    7787
True        2
dtype: int64

In [14]:
df.drop_duplicates(inplace=True)

##### 7. Use heat-map to show null values count in seaborn.

##### 8. For 'House of Cards', what is the Show Id and who is the director of this show?

##### a. isin()

##### b. str.contains()

##### 9. In which year highest number of the TV shows & Movies were released? Show with Bar Graph.

##### a. dtypes

##### b. to_datetime()

##### c. dt.year.value_counts()

##### 10. How many Movies & TV shows are in the dataset? Show with Bar Graph.

##### a. groupby()

##### b. countplot()

##### 11. Show all the Movies that were released in year 2000.

##### a. Create new column

##### b. Filter

##### 12. Show only the Titles of all TV shows that were released in Turkey only.

#####  13. Show Top 10 directors, who gave the highest number of TV Shows & Movies to Netflix?

##### 14. Show all the records, where 'Category is Movie and Type is Comedies' or 'Country is United Kindgom'.

##### 15. In how many movies / shows, Tom Cruise was cast?

##### 16. What are the different Ratings defined by Netflix?

##### a. nunique()

##### b. unique()

##### 17. How many movies got the 'TV-14' rating, in Canada?

##### 18. How many TV shows got the 'R' rating, after year 2018?

##### 19. What is the maximum duration of a movie / show on Netflix?

##### a. str.split()

##### b. max()

##### 20. Which individual country has the highest number of TV Shows?

##### 21. How can we sort the dataset by Year?

##### 22. Find all the instances where: 
Category is 'Movie' and Type is 'Dramas' or Category is 'TV Show' and Type is 'Kids TV'