In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("cars_data.csv")
df.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0

##### 1. Check if there is a duplicate value in the dataset. If so, drop these rows.

In [5]:
df.duplicated().value_counts()

False    429
True       3
dtype: int64

In [4]:
df.drop_duplicates(inplace=True)

##### 2. Find all Null value in the dataset. If there is any null value in any column, then fill it with the mean of that column.

In [6]:
df.isnull().sum()

Make           1
Model          1
Type           1
Origin         1
DriveTrain     1
MSRP           1
Invoice        1
EngineSize     1
Cylinders      3
Horsepower     1
MPG_City       1
MPG_Highway    1
Weight         1
Wheelbase      1
Length         1
dtype: int64

In [11]:
df[df["Make"].isnull()]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df[30:32]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,BMW,325Ci convertible 2dr,Sedan,Europe,Rear,"$37,995","$34,800",2.5,6.0,184.0,19.0,27.0,3560.0,107.0,177.0

In [16]:
df.drop(index=30, inplace=True)

In [20]:
df.reset_index(inplace=True)

In [21]:
df.isnull().sum()

index          0
Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      2
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

In [22]:
df["Cylinders"].mean()

5.807511737089202

In [24]:
df["Cylinders"].fillna(df["Cylinders"].mean(), inplace=True)

In [25]:
df.isnu

index          0
Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

##### 4. Show all the records where Origin is Asia or Europe.

##### 5. Remove all the records(rows) where Weight is above 4000.

##### 6. Increase all the values of 'MPG_City' column by 3.