In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("cars_data.csv")
df.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0

##### 1. Check if there is a duplicate value in the dataset. If so, drop these rows.

In [5]:
df.duplicated().value_counts()

False    429
True       3
dtype: int64

##### 2. Find all Null value in the dataset. If there is any null value in any column, then fill it with the mean of that column.

##### 3. Check what are the different types of Make are there in our dataset. And, what is the count(occurrence) of each Make in data?

##### 4. Show all the records where Origin is Asia or Europe.

##### 5. Remove all the records(rows) where Weight is above 4000.

##### 6. Increase all the values of 'MPG_City' column by 3.