In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("covid_19_data.csv")
df.head()

        Date State       Region  Confirmed  Deaths  Recovered
0  4/29/2020   NaN  Afghanistan       1939      60        252
1  4/29/2020   NaN      Albania        766      30        455
2  4/29/2020   NaN      Algeria       3848     444       1702
3  4/29/2020   NaN      Andorra        743      42        423
4  4/29/2020   NaN       Angola         27       2          7

##### 1. Show the number of Confirmed, Deaths and Recovered cases in each Region.

##### 2. Remove all the records where Confirmed Cases is less than 10.

##### 3. In which region , maximum number of confirmed cases were recorded?

##### 4. In which region, minimum number of Deaths cases were recorded?

##### 5. How many Confirmed, Deaths & Recovered cases were reported from Turkey till 29 April 2020?

##### 6. Sort the entire data wrt No. of Confirmed cases in ascending order.

##### 7. Sort the entire data wrt No. of Recovered cases in descending order.