In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [40]:
df = pd.read_csv("covid_19_data.csv")
df.head()

        Date State       Region  Confirmed  Deaths  Recovered
0  4/29/2020   NaN  Afghanistan       1939      60        252
1  4/29/2020   NaN      Albania        766      30        455
2  4/29/2020   NaN      Algeria       3848     444       1702
3  4/29/2020   NaN      Andorra        743      42        423
4  4/29/2020   NaN       Angola         27       2          7

##### 1. Show the number of Confirmed, Deaths and Recovered cases in each Region.

In [41]:
df.groupby("Region")[["Confirmed", "Deaths", "Recovered"]].sum()

                    Confirmed  Deaths  Recovered
Region
Afghanistan              1939      60        252
Albania                   766      30        455
Algeria                  3848     444       1702
Andorra                   743      42        423
Angola                     27       2          7
...                       ...     ...        ...
West Bank and Gaza        344       2         71
Western Sahara              6       0          5
Yemen                       6       0          1
Zambia                     97       3         54
Zimbabwe                   32       4          5

[187 rows x 3 columns]

##### 2. Remove all the records where Confirmed Cases is less than 10.

In [42]:
df[df["Confirmed"] < 10].index

Int64Index([ 18,  98, 105, 126, 140, 177, 178, 184, 192, 194, 203, 272, 284,
            285, 288, 289, 305],
           dtype='int64')

In [43]:
df.drop(index=df[df["Confirmed"] < 10].index, inplace=True)

##### 3. In which region , maximum number of confirmed cases were recorded?

In [44]:
df[df["Confirmed"] == df["Confirmed"].max()][["Region"]]

    Region
265     US

##### 4. In which region, minimum number of Deaths cases were recorded?

In [45]:
df[df["Deaths"] == df["Deaths"].min()]["Region"].unique()

array(['Cambodia', 'Central African Republic', 'Dominica', 'Eritrea',
       'Fiji', 'Grenada', 'Holy See', 'Laos', 'Madagascar', 'Mongolia',
       'Mozambique', 'Namibia', 'Nepal', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Seychelles', 'South Sudan',
       'Timor-Leste', 'Uganda', 'Vietnam', 'US', 'UK', 'Denmark',
       'France', 'Canada', 'Mainland China', 'Macau', 'Australia'],
      dtype=object)

##### 5. How many Confirmed, Deaths & Recovered cases were reported from Turkey till 29 April 2020?

In [48]:
df[df["Region"] == "Turkey"]

          Date State  Region  Confirmed  Deaths  Recovered
167  4/29/2020   NaN  Turkey     117589    3081      44040

##### 6. Sort the entire data wrt No. of Confirmed cases in ascending order.

In [49]:
df.sort_values(by="Confirmed", ascending=True)

          Date      State    Region  Confirmed  Deaths  Recovered
156  4/29/2020        NaN  Suriname         10       1          8
70   4/29/2020        NaN  Holy See         10       0          2
59   4/29/2020        NaN    Gambia         10       1          8
318  4/29/2020      Yukon    Canada         11       0          0
217  4/29/2020  Greenland   Denmark         11       0         11
..         ...        ...       ...        ...     ...        ...
57   4/29/2020        NaN    France     165093   24087      48228
168  4/29/2020        NaN        UK     165221   26097          0
80   4/29/2020        NaN     Italy     203591   27682      71252
153  4/29/2020        NaN     Spain     236899   24275     132929
265  4/29/2020   New York        US     299691   23477          0

[304 rows x 6 columns]

##### 7. Sort the entire data wrt No. of Recovered cases in descending order.

In [50]:
df.sort_values(by="Recovered", ascending=False)

          Date     State          Region  Confirmed  Deaths  Recovered
153  4/29/2020       NaN           Spain     236899   24275     132929
61   4/29/2020       NaN         Germany     161539    6467     120400
76   4/29/2020       NaN            Iran      93657    5957      73791
80   4/29/2020       NaN           Italy     203591   27682      71252
229  4/29/2020     Hubei  Mainland China      68128    4512      63616
..         ...       ...             ...        ...     ...        ...
258  4/29/2020    Nevada              US       4934     230          0
257  4/29/2020  Nebraska              US       3851      56          0
255  4/29/2020   Montana              US        451      16          0
254  4/29/2020  Missouri              US       7660     338          0
274  4/29/2020      Ohio              US      17303     937          0

[304 rows x 6 columns]